<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:fragment="headerFiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link th:href="@{/css/general.css}" rel="stylesheet">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    </th:block>
    <title></title>
</head>
<body>

<!-- Nav Bar -->
    <nav th:block th:fragment="navigation" class="navbar navbar-expand-lg navbar-light"
         style="background-color: #f2f3fa;">
        <a class="navbar-brand" th:href="@{/}"><img id="logo" th:src="@{/images/logo.png}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/signup' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{signup}">Create An Account</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/profile' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{profile}">My Account</a>
                </li>
            </ul>

        </div>
    </nav>
<!-- Nav Bar -->

<!-- Header -->
    <h2 th:block th:fragment="header" class="header">InterReview</h2>
<!-- Header -->

<!-- Copyright -->
    <footer th:fragment="footer" id="footer">
        <div class="container text-center">
            <span class="text-muted">InterReview Copyright 2021 Andrew Hanigan</span>
        </div>
    </footer>
<!-- Copyright -->
</body>

<th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</th:block>

</html>






