<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:fragment="headerFiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link th:href="@{/css/general.css}" rel="stylesheet">
        <link th:rel="stylesheet" th:ref="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    </th:block>
    <title></title>
</head>
<body>

</body>
<th:block the:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</th:block>
</html>






