#logo {
    width:135px;
    height: 55px;
}
#sof {
    margin: auto;
    width: 50%;
    text-align: center;
}

#greet {
    font-family: "Cambria";
    font-size: 25px;
}

#profileTable th {
    border: 1px solid black;
}
#profileTable td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    text-align: center;
}
