<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>About InterReview</title>
</head>
<body>
    <th:block th:insert="fragments/base :: navigation"></th:block>
    <div class="container-fluid">
        <div class ="row mt-2 ml-2 mb-2 justify-content-center">
            <h3>About InterReview</h3>
        </div>
        <div class ="row justify-content-center">
            <div class="col-sm-3 col-lg-9 mb-3">
                <p>InterReview is intended as a repository of interviews across all fields. Users can submit details regarding
                    the process they went through for their job interview. Through this collection of
                    information, users can get a head start on landing the job position they want!</p>
            </div>
            <div class="col-sm-3 col-lg-9">
                <p>This site is still a work in progress, stay tuned for further updates.</p>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/base :: footer"></th:block>
</body>
    <th:block th:insert="fragments/base :: scripts"></th:block>

</html>