<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>Career Fields</title>
</head>
<body>
    <th:block th:insert="fragments/base :: navigation"></th:block>

    <div class="container-fluid mt-4">
        <div th:each="cFields: ${cFields}">
            <div class="row justify-content-center mb-3">
                <div class="col-2 col-md-4"></div>
                <div class="col-2 col-md-4 card">
                    <div class="card-body">
                        <h4 class="card-title d-inline" th:text="${cFields.fieldName}"></h4>
                    </div>
                </div>
                <div class="col-2 col-md-4"></div>
            </div>
        </div>
    </div>


    <th:block th:insert="fragments/base :: footer"></th:block>
</body>
    <th:block th:insert="fragments/base :: scripts"></th:block>
</html>