<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title></title>
</head>
<body>
    <th:block th:insert="fragments/base :: navigation"></th:block>

    </br>
    <div class="container-fluid mt-2">
        <div class="row justify-content-center">
            <h3 class="text-center col-12">Edit Review</h3>
        </div>

    </div>

    <form class="mt-3 mb-3" th:action="@{/create-listing/edit/{id}(id=${interview.id})}" th:object="${interview}" method="post">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="company" type="text"
                           th:field="*{company}" placeholder="What Company or Organization was the interview for?"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <span class="text-danger small" th:if="${#fields.hasErrors('company')}"
                          th:errors="*{company}">
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="title" type="text"
                           th:field="*{title}" placeholder="What was the job title?"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <span class="text-danger small" th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="salary" type="number" min="0.00"
                           th:field="*{salary}" placeholder="What was the offered salary?"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <span class="text-danger small" th:if="${#fields.hasErrors('salary')}"
                          th:errors="*{salary}">
                    </span>
                </div>
            </div>


            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <textarea class="form-control" id="description" type="text"
                              th:field="*{description}"
                              placeholder="Please write a brief description of the interview for this position...">
                    </textarea>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span th:text="'Date Created: ' + ${#temporals.format(interview.created, 'dd-MM-yyyy HH:mm')}">
                    </span>
                    <br>
                    <span th:text="'Date Modified: ' + ${#temporals.format(interview.modified, 'dd-MM-yyyy HH:mm')}">
                    </span>

                </div>
            </div>

            <div class="mb-3" th:each="fieldName: *{careerField}">
                <div class="row justify-content-center mb-1">
                    <div class="col-8 col-md-3">
                        <span>Career Field: </span>
                        <span th:text="${fieldName}"></span>
                        <!-- User should not be able to delete Career Field, should they be able to change though?
                        <a th:href="@/create-listing/{id}/remove-class/{cFieldId}(id=${career_field_id}, cFieldId={cField.id})}"
                           class="ml-3 text-danger"><i class="fas fa-trash-alt"></i></a>
                           -->

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-5">
                    <input class="btn btn-light btn-outline-dark" type="submit" value="Submit"/>
                    <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/reviews}">Cancel</a>
                </div>
            </div>
        </div>
    </form>


    <th:block th:insert="fragments/base :: footer"></th:block>
</body>
    <th:block th:insert="fragments/base :: scripts"></th:block>
</html>