<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>InterReview Home</title>
</head>

<body>
    <th:block th:insert="fragments/base :: navigation"></th:block>
    <br/>
    <p>Welcome to InterReview!</p>
    <br/>
    <p>A site for job interview discussion and prep.</p>

    <img id="indexImg" th:src="@{/images/resume.png}" alt="Clipart of a resume" class="rounded mx-auto d-block">

    <th:block th:insert="fragments/base :: footer"></th:block>
</body>

    <th:block th:insert="fragments/base :: scripts"></th:block>

</html>