<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>Profile Page</title>
</head>

<body>
    <br/>
    <th:block th:insert="fragments/base :: navigation"></th:block>
    <p id="greet">Hello, <span th:text="${fName}"></span></p>
    <br/>
    <table id="profileTable">
        <tr>
            <th>Name:</th>
            <th>Email:</th>
            <th>Username:</th>
        </tr>
        <tr>
            <td>
                <p>
                    <span th:text="${fName}"></span> <span th:text="${lName}"></span>
                </p>
            </td>
            <td>
                <p>
                    <span th:text="${email}"></span>
                </p>
            </td>
            <td>
                <p>
                    <span th:text="${username}"></span>
                </p>
            </td>

        </tr>
    </table>

    <th:block th:insert="fragments/base :: footer"></th:block>
</body>

    <th:block th:insert="fragments/base :: scripts"></th:block>

</html>