<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>All Reviews</title>
</head>
<body>
<th:block th:insert="fragments/base :: navigation"></th:block>

    <div class="container-fluid mt-5">
        <div th:each="interview: ${interviews}">
            <div class="row justify-content-center mb-5">
                <div class="col-2 col-md-4"></div>
                <div class="col-8 col-md-4 card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${interview.title}"></h5>
                        <span th:text="'Career Field: ' + ${interview.cField}"></span>
                        <br/>
                        <span th:text="'Salary: ' + ${interview.salary}"></span>
                        <br/>
                        <span th:text="'Date Created: ' + ${#temporals.format(interview.created, 'dd-MM-yyyy HH:mm')}">
                        </span>
                    </div>
                </div>
                <div class="col-2 col-md-4"></div>

            </div>
        </div>
    </div>


<th:block th:insert="fragments/base :: footer"></th:block>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>