<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InterReview Sign Up</title>
    <link rel="stylesheet" href="general.css">
</head>

<body>
    <h2>InterReview</h2>
    <br/>
    <div id="sof">
        <p>Create Account:</p>
        <form th:action="@{/signup}" th:object="${account}" method="post">
            <div>
                <label for="userName">Username: </label>
                <input id="userName" type="text" th:field="*{userName}"/>
            </div>
            <div>
                <label for="email">Email: </label>
                <input id="email" type="email" th:field="*{email}"/>
            </div>
            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" th:field="*{password}"/>
            </div>
            <div>
                <label for="fName">First Name: </label>
                <input id="fName" type="text" th:field="*{fName}"/>
            </div>
            <div>
                <label for="lName">Last Name: </label>
                <input id="lName" type="text" th:field="*{lName}"/>
            </div>
            <br/>
            <input type="submit" value="Submit"/>
        </form>
    </div>


</body>
</html>