<!-- This page will be completely changed once moving on to Spring Security -->
                            <!-- !!!!! -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>InterReview Sign Up</title>
</head>

<body>

    <th:block th:insert="fragments/base :: navigation"></th:block>
    <br/>
    <p>Create Account:</p>
    <form class="mt-4" th:action="@{/signup}" th:object="${account}" method="post">
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="userName" type="text"
                           th:field="*{userName}" placeholder="User Name"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="email" type="email"
                           th:field="*{email}" placeholder="Email"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="password" type="password"
                           th:field="*{password}" placeholder="Password"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="fName" type="text"
                           th:field="*{fName}" placeholder="First Name"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-5">
                    <input class="form-control" id="lName" type="text"
                           th:field="*{lName}" placeholder="Last Name"/>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8 col-md-5">
                    <input class="btn btn-light btn-outline-dark" type="submit" value="Submit"/>
                </div>
            </div>
        </div>



    </form>

    <th:block th:insert="fragments/base :: footer"></th:block>
</body>

    <th:block th:insert="fragments/base :: scripts"></th:block>

</html>