<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>My Account</title>
</head>
<body>
    <th:block th:insert="fragments/base :: navigation"></th:block>
    <br>


    <table class="table mt-3">
        <thead>
        <tr>

            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
        </tr>
        <tr>

        </tbody>
    </table>

    <th:block th:insert="fragments/base :: footer"></th:block>
</body>

    <th:block th:insert="fragments/base :: scripts"></th:block>

</html>